In [35]:
import cartoframes
from cartoframes.auth import set_default_credentials
from cartoframes.viz import Map, Layer
import pandas as pd
import numpy as np
import geopandas as gpd
import requests
import json
from autocensus import Query #Library from Socrata to gather ACS Data
from cartoframes.data.services import Geocoding
set_default_credentials(
    base_url='https://usignite-admin.carto.com/',
    api_key='81c922dc336bd82103d92a768816a4567c444909'
)
import geopandas as gpd
from shapely import wkt
from cartoframes.data.observatory import Catalog, Variable, Geography, Dataset
from cartoframes.data.services import Geocoding
from geopandas import GeoDataFrame, points_from_xy

In [20]:
pd.set_option('display.max_columns', None)

In [21]:
df1 = pd.read_csv("Motor_Vehicle_Collisions_-_Crashes.csv")

C:\Users\Ram\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
df1.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [23]:
df1.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,01/16/2013,12:26,MANHATTAN,10022,40.759620,-73.961965,POINT (-73.9619648 40.7596199),EAST 59 STREET,1 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,33895,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1,02/08/2013,15:35,QUEENS,11378,40.726496,-73.914677,POINT (-73.9146771 40.7264956),56 STREET,55 DRIVE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,241110,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
2,02/12/2013,9:17,BRONX,10468,40.869659,-73.898917,POINT (-73.8989172 40.8696589),RESERVOIR AVENUE,WEST 195 STREET,NaN,1.0,0.0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,110852,BUS,NaN,NaN,NaN,NaN
3,01/17/2013,19:20,BROOKLYN,11234,40.633277,-73.921616,POINT (-73.9216165 40.633277),AVENUE H,EAST 57 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN,127063,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
4,02/11/2013,17:45,BROOKLYN,11216,40.678723,-73.952987,POINT (-73.9529869 40.678723),ATLANTIC AVENUE,BEDFORD AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Prescription Medication,Unspecified,NaN,NaN,NaN,180532,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN

In [32]:
df1.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [36]:
gdf = gpd(df1, geometry=points_from_xy(df1['LONGITUDE'], df1['LATITUDE']))
gdf.head()

TypeError: 'module' object is not callable

In [38]:
gdf = gpd.GeoDataFrame(df1, geometry=points_from_xy(df1.LONGITUDE, df1.LATITUDE))

In [39]:
gdf = gpd.GeoDataFrame(gdf, geometry='geometry', crs={'init': 'epsg:4326'})

C:\Users\Ram\anaconda3\lib\site-packages\pyproj\crs\crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [40]:
gdf.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,geometry
0,01/16/2013,12:26,MANHATTAN,10022,40.759620,-73.961965,POINT (-73.9619648 40.7596199),EAST 59 STREET,1 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,33895,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,POINT (-73.96196 40.75962)
1,02/08/2013,15:35,QUEENS,11378,40.726496,-73.914677,POINT (-73.9146771 40.7264956),56 STREET,55 DRIVE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,241110,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN,POINT (-73.91468 40.72650)
2,02/12/2013,9:17,BRONX,10468,40.869659,-73.898917,POINT (-73.8989172 40.8696589),RESERVOIR AVENUE,WEST 195 STREET,NaN,1.0,0.0,1,0,0,0,0,0,Unspecified,NaN,NaN,NaN,NaN,110852,BUS,NaN,NaN,NaN,NaN,POINT (-73.89892 40.86966)
3,01/17/2013,19:20,BROOKLYN,11234,40.633277,-73.921616,POINT (-73.9216165 40.633277),AVENUE H,EAST 57 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,NaN,NaN,NaN,127063,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,POINT (-73.92162 40.63328)
4,02/11/2013,17:45,BROOKLYN,11216,40.678723,-73.952987,POINT (-73.9529869 40.678723),ATLANTIC AVENUE,BEDFORD AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Prescription Medication,Unspecified,NaN,NaN,NaN,180532,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,POINT (-73.95299 40.67872)

In [48]:
gdf = gdf[gdf['geometry'].notna()]